<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.BuildingResidentMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.BuildingResident">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="which_layer" jdbcType="INTEGER" property="whichLayer" />
    <result column="which_layer_family" jdbcType="INTEGER" property="whichLayerFamily" />
    <result column="resident_name" jdbcType="VARCHAR" property="residentName" />
    <result column="resident_phone" jdbcType="VARCHAR" property="residentPhone" />
    <result column="resident_address" jdbcType="VARCHAR" property="residentAddress" />
    <result column="resident_number" jdbcType="TINYINT" property="residentNumber" />
    <result column="employee_number" jdbcType="TINYINT" property="employeeNumber" />
    <result column="house_space" jdbcType="INTEGER" property="houseSpace" />
    <result column="house_chamber" jdbcType="TINYINT" property="houseChamber" />
    <result column="house_hall" jdbcType="TINYINT" property="houseHall" />
    <result column="electrocar_number" jdbcType="VARCHAR" property="electrocarNumber" />
    <result column="flag_company" jdbcType="TINYINT" property="flagCompany" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="business_register_id" jdbcType="VARCHAR" property="businessRegisterId" />
    <result column="license_permission_id" jdbcType="VARCHAR" property="licensePermissionId" />
    <result column="juridical_person" jdbcType="VARCHAR" property="juridicalPerson" />
    <result column="juridical_phone" jdbcType="VARCHAR" property="juridicalPhone" />
    <result column="company_remark" jdbcType="VARCHAR" property="companyRemark" />
    <result column="sign_img_path" jdbcType="VARCHAR" property="signImgPath" />
    <result column="surveyor_name" jdbcType="VARCHAR" property="surveyorName" />
    <result column="building_uuid" jdbcType="VARCHAR" property="buildingUuid" />
    <result column="cell_uuid" jdbcType="VARCHAR" property="cellUuid" />
    <result column="community_uuid" jdbcType="VARCHAR" property="communityUuid" />
    <result column="flag_register" jdbcType="TINYINT" property="flagRegister" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, which_layer, which_layer_family, resident_name, resident_phone, resident_address, 
    resident_number, employee_number, house_space, house_chamber, house_hall, electrocar_number, 
    flag_company, company_name, business_register_id, license_permission_id, juridical_person, 
    juridical_phone, company_remark, sign_img_path, surveyor_name, building_uuid, cell_uuid, 
    community_uuid, flag_register, register_time, status, create_time, ext1, ext2, ext3
  </sql>
</mapper>