<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.CommunityCellMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.CommunityCell">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cell_name" jdbcType="VARCHAR" property="cellName" />
    <result column="community_uuid" jdbcType="VARCHAR" property="communityUuid" />
    <result column="building_name_type" jdbcType="TINYINT" property="buildingNameType" />
    <result column="num_building" jdbcType="INTEGER" property="numBuilding" />
    <result column="num_layer" jdbcType="INTEGER" property="numLayer" />
    <result column="num_layer_family" jdbcType="INTEGER" property="numLayerFamily" />
    <result column="recorder_openid" jdbcType="VARCHAR" property="recorderOpenid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, cell_name, community_uuid, building_name_type, num_building, num_layer, num_layer_family, 
    recorder_openid, status, create_time, ext1, ext2, ext3
  </sql>
</mapper>