<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.wx.mapper.CommunityBuildingMapper">
  <resultMap id="BaseResultMap" type="com.shopping.wx.model.CommunityBuilding">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="community_name" jdbcType="VARCHAR" property="communityName" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="portrait_path" jdbcType="VARCHAR" property="portraitPath" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="community_uuid" jdbcType="VARCHAR" property="communityUuid" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ext1" jdbcType="VARCHAR" property="ext1" />
    <result column="ext2" jdbcType="VARCHAR" property="ext2" />
    <result column="ext3" jdbcType="VARCHAR" property="ext3" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, building_name, community_name, street_name, district_name, portrait_path, address, 
    community_uuid, status, create_time, ext1, ext2, ext3
  </sql>
</mapper>